fastapi[all]
uvicorn
sqlalchemy>=2.0
pydantic
pydantic_settings
freezegun
aiomysql
apscheduler
mysqlclient
databases[aiosqlite]
requests
ipython
httpx
pymysql
cryptography
python-dotenv
alembic
